:root {
  --dejade: #5c81b3;
  --dejade-deklik: #5c81b3;
  --dejade-demuis: #5c81b3;
  --dejade-derand: #5c81b3;
  --dejade-detijd: #5c81b3;
}

.bg-dejade {
  background-color: #5c81b3;
  background-color: var(--dejade);
}

.bg-dejade.js-deklik, .bg-dejadedata-deklik {
  background-color: var(--dejade-deklik);
}

.bg-dejade.js-demuis, .bg-dejadedata-demuis {
  background-color: var(--dejade-demuis);
}

.bg-dejade.js-derand, .bg-dejadedata-derand {
  background-color: var(--dejade-derand);
}

.bg-dejade.js-detijd, .bg-dejadedata-detijd {
  background-color: var(--dejade-detijd);
}

.border-dejade {
  border-color: #5c81b3;
  border-color: var(--dejade);
}

.border-dejade.js-deklik, .border-dejadedata-deklik {
  border-color: var(--dejade-deklik);
}

.border-dejade.js-demuis, .border-dejadedata-demuis {
  border-color: var(--dejade-demuis);
}

.border-dejade.js-derand, .border-dejadedata-derand {
  border-color: var(--dejade-derand);
}

.border-dejade.js-detijd, .border-dejadedata-detijd {
  border-color: var(--dejade-detijd);
}

.fill-dejade {
  fill: #5c81b3;
  fill: var(--dejade);
}

.fill-dejade.js-deklik, .fill-dejadedata-deklik {
  fill: var(--dejade-deklik);
}

.fill-dejade.js-demuis, .fill-dejadedata-demuis {
  fill: var(--dejade-demuis);
}

.fill-dejade.js-derand, .fill-dejadedata-derand {
  fill: var(--dejade-derand);
}

.fill-dejade.js-detijd, .fill-dejadedata-detijd {
  fill: var(--dejade-detijd);
}

.text-dejade {
  color: #5c81b3;
  color: var(--dejade);
}

.text-dejade.js-deklik, .text-dejadedata-deklik {
  color: var(--dejade-deklik);
}

.text-dejade.js-demuis, .text-dejadedata-demuis {
  color: var(--dejade-demuis);
}

.text-dejade.js-derand, .text-dejadedata-derand {
  color: var(--dejade-derand);
}

.text-dejade.js-detijd, .text-dejadedata-detijd {
  color: var(--dejade-detijd);
}

.border-dejade {
  border-style: solid;
  border-width: .0625rem;
}
