
@import "../node_modules/@deidee/dejade/scss/variables";

$bc-allrgb-red: #f00;
$bc-allrgb-green: #0f0;
$bc-allrgb-blue: #00f;

$bc-alexander: #a00ade;

$bc-alternativeartguide-blue: #0000ff;
$bc-alternativeartguide-pink: #ffcccc;
// TODO: Add Alternative Art Guide yellow.

$bc-anbicollectief-blue: #007bc7;

$bc-anonymoussocial-1: #3de;
$bc-anonymoussocial-2: #d33;

$bc-aworldofspam-red: #db0517;

$bc-bestemmingonbekend-orange: #e5991f;
$bc-bestemmingonbekend-blue: #081f59;

$bc-budgetmasks-blue: #0021c6;
// TODO: Add Budget Masks red.

$bc-dova-bruin: #643510;
$bc-dova-geel: #ffdd00;
$bc-dova-groen: #00963a;
$bc-dova-paars: #520a76;

$bc-fragileminds-red: red;
$bc-fragileminds-darkred: #870000;

$bc-galeriehelder-brown: #6d311b;

$bc-gillendekeukenprins-gray: #b09a92;
// TODO: Add Gillende Keukenprins blue.

$bc-gridsexy-pink: #f43530;

$bc-hollandschewaaren-blauw: #103f76;
$bc-hollandschewaaren-oranje: #e56a25;

$bc-hrexperts-blue: #026288;
// TODO: Add HRexperts red.

$bc-isoboosterspecialist-blauw: #14427d;
$bc-isoboosterspecialist-donkerblauw: #222248;
$bc-isoboosterspecialist-donkergeel: #f1cb1f;
$bc-isoboosterspecialist-donkergroen: #179238;
$bc-isoboosterspecialist-donkerrood: #bf1b18;
$bc-isoboosterspecialist-donkergeel: #ffe90b;
$bc-isoboosterspecialist-groen: #50ae32;
$bc-isoboosterspecialist-lichtblauw: #15a4b3;
$bc-isoboosterspecialist-lichtgeel: #ffeca1;
$bc-isoboosterspecialist-lichtgroen: #61b772;
$bc-isoboosterspecialist-lichtrood: #ea4e42;
$bc-isoboosterspecialist-rood: #e31d1a;

$bc-legendarbtraining-red: #b1272d;

$bc-mimesia-blue: #2269ca;
$bc-mimesiagallery-cream: #e9e0d2;
$bc-mimesiagallery-grey: #c8c8c7;

$bc-morerecoffee-black: #191816;
$bc-morerecoffee-blue: #70C5C8;
$bc-morerecoffee-brown: #523112;
$bc-morerecoffee-gold: #FFDB13;
$bc-morerecoffee-red: #BF181E;

$bc-myrthedeluxe-green: #dae5cc;

$bc-netplasticism-hover: #f36;
$bc-netplasticism-link: #36f;

$bc-presstige-green: #006600;
// TODO: Add Presstige red.

$bc-pxaisobooster-blauw: #1488cc;
$bc-pxaisobooster-geel: #f5e90d;
$bc-pxaisobooster-rood: #d21116;

$bc-sarahdeman-purple: #4d1c4d;

$bc-soemofinearts-red: #900;

$bc-toondenheijer-geel: #fff200;

$bc-uitvaartvergelijker-purple: #a40243;
// TODO: Add Uitvaart Vergelijker blue.
// TODO: Add Uitvaart Vergelijker gray.

$bc-unlimiter-pink: #f597a5;
// TODO: Add secondary UNlimiter colors.

$bc-werkgroepdenieuwemens-paars: #c495bf;

$bc-zazoo-red: #e92a19;