
@import "../node_modules/@deidee/dejade/scss/dejade";

$bc-dova-bruin: #643510;
$bc-dova-geel: #ffdd00;
$bc-dova-groen: #00963a;
$bc-dova-paars: #520a76;

$bc-hollandschewaaren-blauw: #103f76;
$bc-hollandschewaaren-oranje: #e56a25;

$bc-isoboosterspecialist-blauw: #14427d;
$bc-isoboosterspecialist-donkerblauw: #222248;
$bc-isoboosterspecialist-donkergeel: #f1cb1f;
$bc-isoboosterspecialist-donkergroen: #179238;
$bc-isoboosterspecialist-donkerrood: #bf1b18;
$bc-isoboosterspecialist-donkergeel: #ffe90b;
$bc-isoboosterspecialist-groen: #50ae32;
$bc-isoboosterspecialist-lichtblauw: #15a4b3;
$bc-isoboosterspecialist-lichtgeel: #ffeca1;
$bc-isoboosterspecialist-lichtgroen: #61b772;
$bc-isoboosterspecialist-lichtrood: #ea4e42;
$bc-isoboosterspecialist-rood: #e31d1a;

$bc-mimesia-blue: #2269ca;
$bc-mimesiagallery-cream: #e9e0d2;
$bc-mimesiagallery-grey: #c8c8c7;

$bc-morerecoffee-black: #191816;
$bc-morerecoffee-blue: #70C5C8;
$bc-morerecoffee-brown: #523112;
$bc-morerecoffee-gold: #FFDB13;
$bc-morerecoffee-red: #BF181E;

$bc-netplasticism-hover: #f36;
$bc-netplasticism-link: #36f;

$bc-pxaisobooster-blauw: #1488cc;
$bc-pxaisobooster-geel: #f5e90d;
$bc-pxaisobooster-rood: #d21116;

$bc-toondenheijer-geel: #fff200;

$bc-werkgroepdenieuwemens-paars: #c495bf;
