
//@import "./@deidee/dejade/scss/variables";

$bc-2600-1: #090;
$bc-2600-1: #0f0;

$bc-allrgb-red: #f00;
$bc-allrgb-green: #0f0;
$bc-allrgb-blue: #00f;

$bc-alexander: #a00ade;

$bc-alternativeartguide-blue: #0000ff;
$bc-alternativeartguide-pink: #ffcccc;
// TODO: Add Alternative Art Guide yellow.

$bc-anbicollectief-blue: #007bc7;

// https://anonymous.social/
$bc-anonymoussocial-1: #3de;
$bc-anonymoussocial-2: #d33;

// https://applebeardcondom.com/
$bc-applebeardcondom-1: #EFEBE3;
$bc-applebeardcondom-2: #00adee;
$bc-applebeardcondom-3: #ff6500;

$bc-aworldofspam-red: #db0517;

$bc-bestemmingonbekend-orange: #e5991f;
$bc-bestemmingonbekend-blue: #081f59;

$bc-brunounostudio-1: #563a24;
$bc-brunounostudio-2: #039be5;

$bc-deidee-bg: #eee;
$bc-deidee-1: deJade();
$bc-deidee-2: deJade();
$bc-deidee-3: deJade();
$bc-deidee-4: deJade();
$bc-deidee-5: deJade();
$bc-deidee-6: deJade();
$bc-deidee-7: deJade();
$bc-deidee-8: deJade();
$bc-deidee-9: deJade();
$bc-deidee-10: deJade();

$bc-dova-bruin: #643510;
$bc-dova-geel: #ffdd00;
$bc-dova-groen: #00963a;
$bc-dova-paars: #520a76;

// https://fondoffonts.com/
$bc-fondoffonts-1: #a00;
$bc-fondoffonts-2: #eee;

$bc-fragileminds-red: red;
$bc-fragileminds-darkred: #870000;

$bc-galeriehelder-brown: #6d311b;

$bc-gillendekeukenprins-gray: #b09a92;
// TODO: Add Gillende Keukenprins blue.

$bc-gridsexy-pink: #f43530;

$bc-hollandschewaaren-blauw: #103f76;
$bc-hollandschewaaren-oranje: #e56a25;

$bc-hrexperts-blue: #026288;
// TODO: Add HRexperts red.

$bc-isoboosterspecialist-blauw: #14427d;
$bc-isoboosterspecialist-donkerblauw: #222248;
$bc-isoboosterspecialist-donkergeel: #f1cb1f;
$bc-isoboosterspecialist-donkergroen: #179238;
$bc-isoboosterspecialist-donkerrood: #bf1b18;
$bc-isoboosterspecialist-donkergeel: #ffe90b;
$bc-isoboosterspecialist-groen: #50ae32;
$bc-isoboosterspecialist-lichtblauw: #15a4b3;
$bc-isoboosterspecialist-lichtgeel: #ffeca1;
$bc-isoboosterspecialist-lichtgroen: #61b772;
$bc-isoboosterspecialist-lichtrood: #ea4e42;
$bc-isoboosterspecialist-rood: #e31d1a;

$bc-legendarbtraining-red: #b1272d;

$bc-mimesia-blue: #2269ca;
$bc-mimesiagallery-cream: #e9e0d2;
$bc-mimesiagallery-grey: #c8c8c7;

$bc-morerecoffee-black: #191816;
$bc-morerecoffee-blue: #70C5C8;
$bc-morerecoffee-brown: #523112;
$bc-morerecoffee-gold: #FFDB13;
$bc-morerecoffee-red: #BF181E;

$bc-myrthedeluxe-green: #dae5cc;

$bc-netplasticism-hover: #f36;
$bc-netplasticism-link: #36f;

// https://nikolamikaelrubenbenjamin.com/
$bc-nikolamikaelrubenbenjamin-1: #e50078;
$bc-nikolamikaelrubenbenjamin-2: #9185be;
$bc-nikolamikaelrubenbenjamin-3: #F3EFC7;

// https://ninemiajadeyasmine.com/
$bc-ninemiajadeyasmine-1: #e50078;
$bc-ninemiajadeyasmine-2: #9185be;
$bc-ninemiajadeyasmine-3: #F3EFC7;

$bc-onethousanddrawingpensionplan-blue: #2456a4;
$bc-onethousanddrawingpensionplan-darkblue: #263a81;
$bc-onethousanddrawingpensionplan-green: #009444;
$bc-onethousanddrawingpensionplan-gray: #777;
$bc-onethousanddrawingpensionplan-red: #be1e2d;

// http://www.orangeit.nl/
$bc-orangeit-1: #e67c26;

$bc-presstige-green: #006600;
// TODO: Add Presstige red.

// https://proseccofriday.com/
$bc-proseccofriday-1: #dac550;

$bc-pxaisobooster-blauw: #1488cc;
$bc-pxaisobooster-geel: #f5e90d;
$bc-pxaisobooster-rood: #d21116;

$bc-sarahdeman-purple: #4d1c4d;

$bc-siteinasecond-1: #3977a8;
$bc-siteinasecond-2: #52381f;
$bc-siteinasecond-3: #96c4d1;

$bc-soemofinearts-red: #900;

$bc-thefashionweek: #02676e;

$bc-toondenheijer-geel: #fff200;

$bc-uitvaartvergelijker-purple: #a40243;
// TODO: Add Uitvaart Vergelijker blue.
// TODO: Add Uitvaart Vergelijker gray.

$bc-unlimiter-pink: #f597a5;
// TODO: Add secondary UNlimiter colors.

$bc-werkgroepdenieuwemens-paars: #c495bf;

$bc-zazoo-red: #e92a19;